*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  margin-top: 5rem;
  border: .3rem solid silver;
  border-radius: .2rem;
  align-content: center;
}
button{
margin-left: .5rem;
margin-top: 2rem;

}
